.landing-page{
    background-image: url("/assets/Images/back.jpg");
    background-size: cover;
    opacity:0.2;
    padding: 300px;
    opacity: 0.3;
    
}

h1{
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    font-size: 2em;
    text-decoration: none;
    position: absolute;
    bottom: 150px;
    padding: 80px;
    
}

a{
    text-decoration: none;
}

